
/* This is an import of the font I used for my section in index.html */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* js particles */
body {
  background: rgb(42,64,88);
  background: linear-gradient(333deg, rgba(42,64,88,1) 0%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(333deg, rgba(42,64,88,1) 0%, rgba(0,212,255,1) 100%);
  background: -moz-linear-gradient(333deg, rgba(42,64,88,1) 0%, rgba(0,212,255,1) 100%);
  background: -ms-linear-gradient(333deg, rgba(42,64,88,1) 0%, rgba(0,212,255,1) 100%);
  background: -o-linear-gradient(333deg, rgba(42,64,88,1) 0%, rgba(0,212,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* This is my styling for the #about-me section in index.html */
#about-me {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
  width: 800px;
  height: 60%;
  padding: 50px;
  z-index: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(11,34,61,0.1); 
  -moz-box-shadow: 0px 0px 15px 10px rgba(11,34,61,0.1); 
  -ms-box-shadow: 0px 0px 15px 10px rgba(11,34,61,0.1); 
  -o-box-shadow: 0px 0px 15px 10px rgba(11,34,61,0.1); 
  box-shadow: 0px 0px 15px 10px rgba(11,34,61,0.1);
  position: relative;
}

img {
  width: 15%;
  height: auto;
  border-radius: 100%;
  border: 5px solid #ffffff;
  position: absolute;
  top:-60px;
  left: 42.5%;
  margin: 0 auto;
}

header {
  width: 100%;

}
/* I used flex to position classes the way I wanted on the card */
.content {
  display: flex;
  flex-direction: row;
}

.description {
  width: 70%;
  align-self: left;
  border-right: 1px solid #F2F2F2;
  padding-right: 50px;
}

.contact {
  width: 30%;
  align-self: right;
  text-align: right;
}

.social {
  margin: 0 5px;
}

/* This is my typography styling */
h1 {
  text-align: center;
  margin: 15px 0 20px 0;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 14px;
  color: #555555;
}

a {
  text-decoration: none;
  color: #00d4ff;
  transition: 0.4s;
}

a:hover {
  color: #2a4058;
}











